
@import 'colores';
@import 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yanone+Kaffeesatz:wght@300&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: map-get($colores, shark);
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
    color: map-get($colores, tea);
}
.menu {
    width: 60%;
    height: 100%;
    float: right;
    ul{
        width: 100%;
        height: inherit;
        margin: 0;
        padding: 0;
        display: flex;
        a{
            width: 20%;
            height: inherit;
            color: map-get($colores, tea);
            display: inline-block;
            text-decoration: none;
        }
        a:hover {
            background-color: map-get($colores, taupe);
            color: map-get($colores, tea);
            text-decoration: none;
        }

    }
}

#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}

.container{
    min-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    .imgCard {
        min-width: 100%;
        min-height: 100%;
        position: inherit;
    }

    .fotoDiv1, .fotoDiv3{
        background: url(../img/bg-img-6.jpg);
        background-attachment: fixed;
        background-size:auto;
    }
    .fotoDiv2{
        background: url(../img/img-bg-5.jpg);
        background-attachment: fixed;
    }
    .descripcionServici {
        background-color: map-get($colores, taupe);
        .textodesc {
            margin: 30px;
            padding: 30px;
            border-style:solid;
            border-color: map-get($colores, tea);
            color: map-get($colores, tea);
            animation-name: fadeIn;
            animation-duration: 3s;
            h2{
                font-weight: 400;
                text-align: center;
            }
            p{
                text-align: justify;
            }

        }
        .buttom-Inic {
            border-radius: 5px;
            background-color: map-get($colores, shark);
            
            &:hover{
                background-color: map-get($colores,gullGray);
            }
            a {
                text-decoration: none;
                color: map-get($colores, tea);
                &:hover{
                    background-color: map-get($colores, gullGray);
                    color: map-get($colores, shark);
                }

            }
        }

        
    }
}

.serviciosd{
    h2{
        text-align: center;
        color: map-get($colores, shark);
        text-transform: uppercase;

    }
    .serv-pestanas, .serv-cejas{
        display: grid;
        grid-template-columns: 1fr 1fr;

        
        h3 {
            color: map-get($colores, taupe );
            text-transform: uppercase;
        }

    }
    .pest-ext , .pest-ll {
        padding: 5%;

    }
    .cej-dp, .cej-dp-hn, .cej-bl{
        padding: 5%;
    }
    .recom-serv {
        
        animation-name: slideInUp;
        animation-duration: 3s;
        background-color: map-get($colores, tea);
        border-radius: 10%;
        h2{
            padding-top: 30px;
        }

        
        .recom-td{
            font-weight: 700;
            background-color: map-get($colores, tea);
            padding: 5%;

    }

    }
    


    

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
    .bg-glly1 {
        margin-top: 8px;
        background-image: url(../img/bg-img7.jpg);
        background-attachment: fixed;
        img {
            visibility: hidden;
        }
        
    }
    .bg-glly2 {
        margin-top: 8px;
        background-image: url(../img/bg-img-3.jpg);
        background-attachment: fixed;
        img {
            visibility: hidden;
        }
        
    }
}

.presentacion {
    
    animation-name: fadeIn;
    animation-duration: 3s;
    section{
        background-color: map-get($colores, tea);
        display: flex;
        flex-direction: row;
        margin: 5vh 10vw 5vh 10vw;
    }
    .presentacion-div{
        padding: 10%;
        animation-name: fadeIn;
        animation-delay: 2s;
        animation-duration: 3s;

    }
}
.encontranos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .map, .horarios, .contact{

        display: flex;
        flex-direction: column;
        border-left-style: solid;
        border-color: map-get($colores, taupe);
        iframe{ 
            margin-left: 10px;
            margin-right: 10px;
        }
        h3{
            align-self: center;
            text-transform: uppercase;
        }
        span {
            align-self: center;
            margin-bottom: 15px;
        }
        p {
            align-self: center;
            a {
                text-decoration: none;
                color: map-get($colores, taupe );
            }
        }
        ul{
            align-self: center;
            li{
                text-align: justify;
            }
        }
    }

}

.preciostb {
    display: flex;
    flex-direction: row;
    justify-content: center;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    div {
        width: 350px;
        height: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-right: map-get($colores, gullGray);
        border-right-style: solid; 
        padding-right: 15px ;
    }

}

.preciotb__col {
    list-style: none;
    li{
        padding-bottom: 5px;
        padding-left: 10px;
        text-align: start;
        display: flex;
        justify-content: space-between;
        border-bottom: #574C4E;
        border-bottom-style: solid;
    }
}

.preciotb__title {
    font-size: 25px;
    color: map-get($colores, taupe);
    list-style: none;
    border-bottom-style: none;
}

.preciotb__tiposerv {
    font-size: 20px;
}

.preciotb__precioserv {
    font-size: 20px;
    text-align: end;
    color: map-get($colores, goldd);
}

  
  
.footercontainer {
    background-color: map-get($colores, shark);
    h5{
        color: map-get($colores, gullGray);
        text-transform: uppercase
    }
    p{
        color: map-get($colores, osloGray);
    }

    a{
        color: map-get($colores, osloGray);
        &:hover {
            color: map-get($colores, goldd)
        }
    }
    
}










@import 'mediaQ';