@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #1D2121;
}

.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
  color: #C5B8B2;
}

.menu {
  width: 60%;
  height: 100%;
  float: right;
}

.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul a {
  width: 20%;
  height: inherit;
  color: #C5B8B2;
  display: inline-block;
  text-decoration: none;
}

.menu ul a:hover {
  background-color: #483934;
  color: #C5B8B2;
  text-decoration: none;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

.container {
  min-width: 100%;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container .imgCard {
  min-width: 100%;
  min-height: 100%;
  position: inherit;
}

.container .fotoDiv1, .container .fotoDiv3 {
  background: url(../img/bg-img-6.jpg);
  background-attachment: fixed;
  background-size: auto;
}

.container .fotoDiv2 {
  background: url(../img/img-bg-5.jpg);
  background-attachment: fixed;
}

.container .descripcionServici {
  background-color: #483934;
  border-style: solid;
  border-color: #C5B8B2;
}

.container .descripcionServici .textodesc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  padding: 30px;
  border-style: solid;
  border-color: #C5B8B2;
  color: #C5B8B2;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.container .descripcionServici .textodesc h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.container .descripcionServici .textodesc p {
  min-width: 100%;
  min-width: 100%;
  text-align: justify;
}

.container .descripcionServici .buttom-Inic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  background-color: #1D2121;
}

.container .descripcionServici .buttom-Inic:hover {
  background-color: #99B0B5;
}

.container .descripcionServici .buttom-Inic a {
  text-decoration: none;
  color: #C5B8B2;
}

.container .descripcionServici .buttom-Inic a:hover {
  background-color: #99B0B5;
  color: #1D2121;
}

.serviciosd h2 {
  text-align: center;
  color: #1D2121;
  text-transform: uppercase;
}

.serviciosd .serv-pestanas, .serviciosd .serv-cejas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.serviciosd .serv-pestanas h3, .serviciosd .serv-cejas h3 {
  color: #483934;
  text-transform: uppercase;
}

.serviciosd .pest-ext, .serviciosd .pest-ll {
  padding: 5%;
}

.serviciosd .cej-dp, .serviciosd .cej-dp-hn, .serviciosd .cej-bl {
  padding: 5%;
}

.serviciosd .recom-serv {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-color: #C5B8B2;
  border-radius: 10%;
}

.serviciosd .recom-serv h2 {
  padding-top: 30px;
}

.serviciosd .recom-serv .recom-td {
  font-weight: 700;
  background-color: #C5B8B2;
  padding: 5%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column .bg-glly1 {
  margin-top: 8px;
  background-image: url(../img/bg-img7.jpg);
  background-attachment: fixed;
}

.column .bg-glly1 img {
  visibility: hidden;
}

.column .bg-glly2 {
  margin-top: 8px;
  background-image: url(../img/bg-img-3.jpg);
  background-attachment: fixed;
}

.column .bg-glly2 img {
  visibility: hidden;
}

.column .bg-glly3 {
  margin-top: 8px;
  background-image: url(../img/bg-img7.jpg);
  background-attachment: fixed;
}

.column .bg-glly3 img {
  visibility: hidden;
}

.column .bg-glly4 {
  margin-top: 8px;
  background-image: url(../img/bg-img-3.jpg);
  background-attachment: fixed;
}

.column .bg-glly4 img {
  visibility: hidden;
}

.expusuario {
  margin: 2%;
  padding: 5%;
  background-color: #483934;
  border-radius: 30px;
  color: #99B0B5;
}

.expusuario h3 {
  text-transform: uppercase;
}

.expusuario form {
  line-height: 20px;
}

.presentacion {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.presentacion section {
  background-color: #C5B8B2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  margin: 5vh 10vw 5vh 10vw;
}

.presentacion section img {
  padding: 5%;
}

.presentacion .presentacion-div {
  padding: 10%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.encontranos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.encontranos .map, .encontranos .horarios, .encontranos .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left-style: solid;
  border-color: #483934;
}

.encontranos .map iframe, .encontranos .horarios iframe, .encontranos .contact iframe {
  margin-left: 10px;
  margin-right: 10px;
}

.encontranos .map h3, .encontranos .horarios h3, .encontranos .contact h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

.encontranos .map span, .encontranos .horarios span, .encontranos .contact span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 15px;
}

.encontranos .map p, .encontranos .horarios p, .encontranos .contact p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.encontranos .map p a, .encontranos .horarios p a, .encontranos .contact p a {
  text-decoration: none;
  color: #483934;
}

.encontranos .map ul, .encontranos .horarios ul, .encontranos .contact ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.encontranos .map ul li, .encontranos .horarios ul li, .encontranos .contact ul li {
  text-align: justify;
}

.preciostb {
  background: url(../img/golden-geometric-abstract-background-white-pattern-decoration-design-symmetrical-pattern-gold-color_86390-6027.webp);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.preciostb .tabla-pc {
  background-color: #B6964B;
  opacity: 80%;
  width: 350px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: #99B0B5;
  border-right-style: solid;
  padding-right: 15px;
}

.preciotb__col {
  list-style: none;
}

.preciotb__col li {
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #574C4E;
  border-bottom-style: solid;
}

.preciotb__title {
  font-size: 25px;
  color: #483934;
  list-style: none;
  border-bottom-style: none;
}

.preciotb__tiposerv {
  font-size: 20px;
}

.preciotb__precioserv {
  font-size: 20px;
  text-align: end;
  color: #1D2121;
}

.footercontainer {
  background-color: #1D2121;
}

.footercontainer h5 {
  color: #99B0B5;
  text-transform: uppercase;
}

.footercontainer p {
  color: #848F90;
}

.footercontainer a {
  color: #848F90;
}

.footercontainer a:hover {
  color: #B6964B;
}

@media screen and (max-width: 1200px) {
  .encontranos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #C5B8B2;
    padding: 10px 0px 10px 5%;
    color: #1D2121;
  }
  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
  #menuToggle:checked ~ ul {
    max-height: 350px;
  }
  .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #carouselExampleDark {
    display: none;
  }
  .encontranos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .encontranos .divFoto {
    display: none;
  }
  .serviciosd .serv-pestanas, .serviciosd .serv-cejas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .presentacion section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .preciostb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */